*{
    margin: 0%;
    padding: 0%;
}


.cd{
    margin-top: 40vmin;
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(28, 102, 151);
    margin-left: 60vmin;
     margin-right: 10vmin;
     height: 140px;
     width: 600px;
     border-radius: 3vmax;
     backdrop-filter: blur();
     
}
h1{
   
    font-family: Helvetica, sans-serif;
    border-radius: 2rem;
    width: 90vmin;
    height: 8vmin;
    text-align: center;
    justify-content: center;
    filter: none;
     background-color: #3080c2;
}
.btn{
    background-color: #5e5df0;
    border-radius: 999px;
    box-shadow: #000000 0 10px 20px -10px;
    color: #ffffff;
    line-height: 44px;
    opacity: 1;
    outline: 1px solid transparent;
    border: 0;
    height: 50px;
    width: 120px;

}
 .dark{
    background-color: #00072d;
    color: antiquewhite;
   
}
.light{
     background-color: rgb(79, 181, 250);
   
   
}
.h1l{
   
  
    color: #0c0c0c;
}
body{
    background-color: rgb(79, 181, 250);
}
.h2l{
     color:#ffffff;
     background-color: rgb(0, 0, 141);

   
}
.btl{
  margin-left: 120px;
  transition-duration: 0.5s;
}
.btw{
     background-image: linear-gradient( to right ,skyblue,#00072d  ) ;
    border-radius: 999px;
    box-shadow: #000000 0 10px 20px -10px;
    color: #ffffff;
    line-height: 44px;
    opacity: 1;
    outline: 1px solid transparent;
    border: 0;
    height: 50px;
    width: 240px;
    display: inline-block;
}
.btd{
    margin-right: 140px;
  transition-duration: 0.5s;
}
